@import './light.css';

.gantt-container {
    line-height: 14.5px;
    position: relative;
    overflow: auto;
    font-size: 12px;
    height: var(--gv-grid-height);
    width: 100%;
    border-radius: 8px;

    & .popup-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        background: #171b1f;
        padding: 10px;
        border-radius: 5px;
        width: max-content;

        &.hidden {
            opacity: 0 !important;
        }

        & .title {
            margin-bottom: 5px;
            text-align: -webkit-center;
            text-align: center;
            color: var(--g-text-light);
        }

        & .subtitle {
            color: var(--g-text-secondary);
        }

        & .pointer {
            position: absolute;
            height: 5px;
            border: 5px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.8);
        }
    }

    & .grid-header {
        height: calc(
            var(--gv-lower-header-height) + var(--gv-upper-header-height) + 10px
        );
        background-color: var(--g-header-background);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    & .lower-text,
    & .upper-text {
        text-anchor: middle;
    }

    & .upper-header {
        height: var(--gv-upper-header-height);
    }

    & .lower-header {
        height: var(--gv-lower-header-height);
    }

    & .lower-text {
        font-size: 12px;
        position: absolute;
        width: calc(var(--gv-column-width) * 0.8);
        height: calc(var(--gv-lower-header-height) * 0.8);
        margin: 0 calc(var(--gv-column-width) * 0.1);
        align-content: center;
        text-align: center;
        color: var(--g-text-muted);
    }

    & .upper-text {
        position: absolute;
        width: fit-content;
        font-weight: 500;
        font-size: 16px;
        color: var(--g-text-dark);
        height: calc(var(--gv-lower-header-height) * 0.66);
    }

    & .current-upper {
        position: sticky;
        left: 0 !important;
        padding: 0 calc(var(--gv-lower-header-height) * 0.33);
        background: white;
    }

    & .side-header {
        position: sticky;
        z-index: 1000;
        line-height: 20px;
        background: white;
        font-weight: 400;
        top: 5px;
        width: max-content;
        margin-left: auto;
        right: 5px;
        padding-left: 5px;
    }

    & .side-header * {
        background: var(--g-actions-background);
        text-align: -webkit-center;
        text-align: center;
        height: 30px;
        border-radius: 0;
        border: 1px dotted grey;
        border-right: none;
        color: var(--g-text-dark);
        padding: 4px 10px;
        position: sticky;
        float: right;
        right: 0;
        top: 5px;
    }

    & .side-header *:first-child {
        border-radius: 0 8px 8px 0;
        border-right: 1px dotted grey;
    }

    & .side-header *:last-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    & .date-highlight {
        background-color: var(--g-progress-color);
        border-radius: 20px;
        height: var(--gv-lower-header-height);
        top: calc(
            var(--gv-upper-header-height) + var(--gv-lower-header-height) * 0.1
        );
        position: absolute;
        display: none;
    }

    & .current-highlight {
        position: absolute;
        background: var(--g-blue-dark);
        width: 1px;
        z-index: 999;
    }

    & .current-date-highlight {
        background: var(--g-blue-dark);
        color: var(--g-text-light);
        border-radius: 5px;
    }

    & .holiday-label {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1000;
        background: --g-holiday-label-color;
        border-radius: 5px;
        padding: 2px 5px;

        &.show {
            opacity: 100;
        }
    }
}

.gantt {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;

    & .grid-background {
        fill: none;
    }

    & .grid-row {
        fill: var(--g-row-color);
    }

    & .row-line {
        stroke: var(--g-border-color);
    }

    & .tick {
        stroke: var(--g-tick-color);
        stroke-width: 0.4;

        &.thick {
            stroke: var(--g-tick-color-thick);
            stroke-width: 0.7;
        }
    }

    & .arrow {
        fill: none;
        stroke: var(--g-arrow-color);
        stroke-width: 1;
    }

    & .bar-wrapper .bar {
        fill: var(--g-bar-color);
        stroke: var(--g-bar-border);
        stroke-width: 0;
        transition: stroke-width 0.3s ease;
    }

    & .bar-progress {
        fill: var(--g-progress-color);
    }

    & .bar-expected-progress {
        fill: var(--g-blue-light);
    }

    & .bar-invalid {
        fill: transparent;
        stroke: var(--g-bar-border);
        stroke-width: 1;
        stroke-dasharray: 5;

        & ~ .bar-label {
            fill: var(--g-text-light);
        }
    }

    & .bar-label {
        fill: var(--g-text-dark);
        dominant-baseline: central;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: 400;

        &.big {
            fill: var(--g-text-dark);
            text-anchor: start;
        }
    }

    & .bar-wrapper.important {
        & .bar {
            fill: var(--g-bar-color-important);
        }

        & .bar-progress {
            fill: var(--g-blue-dark);
        }

        & .bar-label {
            fill: var(--g-text-light);

            &.big {
                fill: var(--g-text-dark);
            }
        }

        & .handle {
            fill: var(--g-handle-color-important);
        }

        & .handle.progress {
            fill: var(--g-text-light);
        }
    }

    & .handle {
        fill: var(--g-handle-color);
        cursor: ew-resize;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
    }

    & .handle.progress {
        fill: var(--g-text-muted);
    }

    & .bar-wrapper {
        cursor: pointer;

        &.active {
            & .handle {
                visibility: visible;
                opacity: 1;
            }
        }

        & .bar {
            -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.9));
            filter: drop-shadow(3px 3px 2px rgba(17, 43, 66, 0.26));
            border-radius: 3px;
        }

        & .bar.safari {
            outline: 1px solid black;
        }

        &:hover {
            .bar {
                transition: transform 0.3s ease;
            }

            .date-highlight {
                display: block;
            }
        }
    }

    & .hide {
        display: none;
    }
}
