name: Publish on NPM
on:
    push:
        branches: [master]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: '18'
                  cache: 'pnpm'
            - run: pnpm install
            - run: pnpm prettier-check
            - run: pnpm build
            - run: npm publish
